$main-color: #2086e8;
$primary-color: #4bbc37; 
$text-color: #7e7c7c;

@mixin flexAlign($hor: center, $vert: center) {
    display: flex;
    align-items: $vert;
    justify-content: $hor;
}

.header {
    width: 100%;
    height: 68px;
    padding: 0 150px;
    box-sizing: border-box;
    @include flexAlign(space-between);
    @media screen and (max-width: 980px) {
        padding: 0 15px;
        flex-direction: row-reverse;
    }
        
    

    &__links { 
        @include flexAlign(flex-start);

        @media screen and (max-width: 640px) {
            display: none;
        
        }

        &-item {
            margin-right: 12px;
            text-decoration: none;
            color: $text-color;
            padding: 10px 14px;
            border-radius: 4px;
            border: 1px solid transparent;
            box-sizing: border-box;
            transition: 0.4s;
            cursor: pointer;

            &:hover {
                border: 1px solid $main-color;
                background: linear-gradient(to top, $main-color, #37b2f8);
                color: white;
            }
        }
   
     }


    &__button {
        cursor: pointer;
        height: 45px;
        width: 45px;
        border: 2px solid $text-color;
        box-sizing: border-box;
        border-radius: 5px;
        @include flexAlign;
        display: none;

        @media screen and (max-width: 640px) {
            display: flex;
        }

        &-line {
            width: 30px;
            height: 2px;
            background: $text-color;
            position: relative;

            &::after {
                content: "";
                width: 30px;
                height: 2px;
                background: $text-color;
                position: absolute;
                left: 0;
                top: 7px;
            } 

            &::before {
                content: "";
                width: 30px;
                height: 2px;
                background: $text-color;
                position: absolute;
                left: 0;
                bottom: 7px;
            } 






        }
    } 
}
.banner {
    width: 100%;
    height: 530px;
    background-image: url('../images/fon.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    @include flexAlign;
    flex-direction: column;
    color: white;
    position: relative;

    &__title {
        text-transform: uppercase;
        font-size: 48px;
        margin-bottom: 16px;
        text-align: center;

        &_big {
            font-weight: bold;
            font-size: 52px;
        }

        @media screen and (max-width: 640 px) {
            font-size: 36px;
        }
            
        
    }

    &__button {
        outline: none;
        width: 270px;
        height: 57px;
        box-sizing: border-box;
        border: none;
        border-top: 1px solid #6feb55;
        border-radius: 3px;
        background: linear-gradient(to top, $primary-color, #6dd258);
        color: white;
        font-weight: bold;
        font-size: 34px;
        text-shadow: 1px 1px 1px rgba(black, 0.4);
        box-shadow: 0 0 0 6px rgba(black, 0.1);
        margin-top: 30px;
    }

    .slider {
        width: 480px;
        height: 245px;
        background-color: white;
        box-sizing: border-box;
        border-bottom: 7px solid $primary-color;
        border-radius: 4px;
        box-shadow: 0 0 10px 0 rgba(black, 0.4);
        position: absolute;
        left: calc(50% - 240px);
        bottom: -150px;

        @media screen and (max-width: 640px) {
            left: 10px;
            width: calc(100% - 20px);
        }
    }
}



